evaluate==0.4.0
fgclustering==1.1.1
lime==0.2.0.1
matplotlib==3.10.1
opencv-python==4.11.0.86
palmerpenguins==0.1.4
sacrebleu==2.5.1
scikit-learn==1.6.1
seaborn==0.13.2
shap==0.47.2
torch==2.6.0
torchvision==0.21.0
transformers[torch]==4.51.3
ucimlrepo==0.0.7