lime==0.2.0.1
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.4
scikit_learn==1.1.2
seaborn==0.11.2
shap==0.41.0
fgclustering==0.3
ipython==8.4.0
joblib==1.1.0
palmerpenguins==0.1.4
protobuf==4.21.5
utils==1.0.1
torch==1.12.1
torchvision
opencv-python==4.6.0.66
jupyter