# Requires Python 3.12
fgclustering==3.0.0
jupyter==1.1.1
lime==0.2.0.1
matplotlib==3.10.9
numpy==2.4.5
palmerpenguins==0.1.6
pandas==3.0.3
scikit-learn==1.8.0
seaborn==0.13.2
shap==0.51.0
umap-learn==0.5.11